footer {
  background: rgb(20, 18, 18);
  text-align: center;
  padding: 1.5rem 0;
}

.footer-icon {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.ft-icon {
  font-size: 1.5rem;
  color: gray;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.ft-icon:hover {
  color: white;
}

.copyright p {
  color: gray;
}

@media screen and (max-width: 1024px) {
  footer {
    padding: 1rem 0;
  }

  .footer-icon {
    gap: 0.5rem;
    margin-bottom: 0rem;
  }

  .ft-icon {
    font-size: 1.2rem;
  }

  .copyright P {
    font-size: 0.8rem;
  }
}
